@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

h2 {
    font-weight: 700;
    color: #13446a;
    font-size: 24px;
}

h3 {
    margin-top: 40px;
    font-weight: 500;
    font-size: 18px;
}


/* formatting for inputs and select element */
input[type=text], input[type=tel], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input:focus, select:focus { 
    outline: none !important;
    border-color: #f8506e;
    box-shadow: 0 0 2px #f8506e;
}

.req {
    color: #f8506e;
}

.row {
    margin-bottom: 10px;
}

.mark-box {
    float: left;
    width: 10%;
    margin-top: 6px;
}

.mark-text {
    float: left;
    width: 90%;
    margin-top: 10px;
    left: -20px;
    position: relative;
    }

/* submit button */
input[type=submit] {
  background-color: #f8506e;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  float: right;
}

/* wrapper */
.wrapper {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

/* label column */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* input column*/
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* error message formatting */
form .error {
  color: #f8506e;
}

/* when screen is less than 600px wide, stack column */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}